<template>
    <div class="attachment-list">

        <div class="row">
            <div class="col-sm-9">
                <form class="form-inline text-right my-2">
                    <div class="form-group p-1">
                        <label for="attachments_filter">Seleziona il tipo di file&nbsp;</label>
                        <select v-model="filter" class="form-control pull-right" name="attachments_filter">
                            <option value="all">Tutti</option>
                            <option value="images">Solo immagini</option>
                            <option value="no_images">Tranne immagini</option>
                        </select>



                    </div>
                    <div class="form-group p-1">
                        <button class="btn btn-primary" @click.prevent="refreshList()">Aggiorna</button>
                    </div>
                    <div class="form-group p-1">
                        <attachment-browser v-on:browser-closed="refreshList" :attachmentable-id="attachmentableId" :attachmentable-type="attachmentableType" :rpc-url="rpcUrl"></attachment-browser>
                    </div>
                </form>
                <p>&nbsp;</p>
                <div  v-if="rows.length > 0" class="table-responsive">
                <table class="table table-hover table-sm table-attachments" id="attachments-table">
                    <tbody>
                        <tr v-for="item in rows" v-if="(filter == 'all') || (filter == 'images' && item.is_image == '1') || (filter == 'no_images' && item.is_image != '1')" class="row-fluid">
                            
                            <td class="w-20">
                                <a v-if="item.is_image == 1" :href="item.filename_absolute" target="_blank"><img class="img-fluid" :src="item.thumbnail"></a>
                                <div v-else class="text-center attachment-extension">{{ item.extension }}</div>
                            </td>
                            <td class="w-40">
                                <p>
                                    <strong> {{ item.label }}</strong>
                                </p>
                                <p>
                                    <span class="badge badge-secondary">ID {{ item.id }}</span>
                                    <small><strong>{{ Math.floor(item.size / 1024) }}  Kb</strong>  ({{ item.mime_type }})</small>
                                    &nbsp;<a :href="item.filename_absolute" target="_blank"><span class="glyphicon glyphicon-share-alt"></span></a>
                                </p>
                                
                                
                            </td>
                            <td class="w-5">
                                <div v-if="item.is_image == 1" class="checkbox">
                                    <label><input type="checkbox" name="main" value="1" @click="setMainPicture(item.id)" class="cb_attachment_main" :checked="item.pivot.is_image_main == 1?'checked':''"/><small>Principale</small></label>
                                </div>
                            </td>
                            <td class="w-40">
                                <button class="btn btn-primary btn-sm btn-edit-attachment" @click.prevent="edit(item.id)">Modifica</button>&nbsp;
                                <button class="btn btn-warning btn-sm btn-detach-attachment" @click.prevent="detach(item.id)">Separa</button>&nbsp;
                                <button class="btn btn-danger btn-sm btn-delete-attachment" @click.prevent="remove(item.id)">Cancella</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
                </div>
                <div v-else class="alert alert-info">
                    Nessun allegato trovato
                </div>

            </div>
            <div class="col-sm-3">
               <attachment-uploader v-on:upload-complete="refreshList" :attachmentable-id="attachmentableId" :attachmentable-type="attachmentableType" :destination-folder="destinationFolder" :rpc-url="rpcUrl"></attachment-uploader>
               
           </div>
       </div>
   </div>

   </template>

   <script>

    import Bud from '../bud-service';
    import AttachmentBrowser from './attachment-browser.vue';
    import AttachmentUploader from './attachment-uploader.vue';

    //$.fn.editable.defaults.mode = 'inline';

    export default {
        props: ['attachmentableId', 'attachmentableType', 'rpcUrl', 'destinationFolder','editUrl'],
        mounted: function(){


        },
        created: function () {
            this.loadAttachments();
        },
        methods: {
            
            loadAttachments: function () {
                Bud.loading();
                var self = this;

                var data = {
                    'action' : 'collection',
                    'attachmentable_type': self.attachmentableType,
                    'attachmentable_id': self.attachmentableId
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);
                    self.rows = response.data.attachments;
                });


            },
            refreshList(){
                
                
                this.loadAttachments();
            },
            setMainPicture(id) {
                Bud.loading();
                var self = this;

                var data = {
                    'action' : 'setMainImage',
                    'attachment_id': id,
                    'attachmentable_id': self.attachmentableId,
                    'attachmentable_type': self.attachmentableType,
                    'is_image_main': true
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);
                    self.loadAttachments();
                });
                
            },
            edit(id) {
                window.location.href = this.editUrl.replace('%id', id);
            },
            detach(id) {
                if (confirm('Separare l\'immagine dal record?')) {
                    Bud.loading();
                    var self = this;

                    var data = {
                        'action' : 'detach',
                        'attachmentable_type': self.attachmentableType,
                        'attachmentable_id': self.attachmentableId,
                        'attachment_id': id
                    };

                    Bud.rpcCall(self.rpcUrl, data, function(response){
                        Bud.loading(false);
                        self.loadAttachments();
                    });


                }
            },
            remove(id) {
                if (confirm('Procedere con la cancellazione dell\'allegato?')) {
                    var self = this;
                    Bud.loading();

                    var data = {
                        'action' : 'delete',
                        'id': id
                    };

                    Bud.rpcCall(self.rpcUrl, data, function(response){
                        Bud.loading(false);
                        self.loadAttachments();
                    });


                }
            }
        },
        data: function () {

            var data = {
                loading: false,
                filter: 'all',
                rows: []
            };

            return data;
        },
        
        components: {AttachmentBrowser, AttachmentUploader}
    }
</script>