
<template>
    <div class="attachment-uploader">
        <div id="small-attachment-uploader" class="dm-uploader text-center">
            <p><span class="glyphicon glyphicon-upload"></span></p>
            <p class="hidden-sm"><small>Trascinare qui i file</small></p>
            <label class="btn-browse btn btn-default btn-sm">
                <span>Seleziona</span>
                <input type="file" name="files[]" class="upload" multiple="multiple"/>
            </label>
        </div>
        <div class="form-upload-progress-container">
            <div id="small-attachment-upload-progress" >
                <div class="progress">
                    <div id="small-attachment-upload-progress-bar" class="progress-bar progress-bar-striped" style="width: 100%">
                        In attesa
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    window.jQuery = require('jquery');
    //import jQuery from 'jquery';    
    require('dm-file-uploader');

    import Bud from '../bud-service';

    export default {
        props: ['attachmentableId', 'attachmentableType', 'destinationFolder', 'rpcUrl'],
        mounted: function () {
            this.setupUploader();
        },
        methods: {
            setupUploader: function () {
                var self = this;
                

                $("#small-attachment-uploader").dmUploader({
                    url: self.rpcUrl + '?action=upload',
                    allowedTypes: '*',
                    auto: true,
                    // dataType: 'json',
                    // fileName: 'file',
                    extraData: {
                        'attachmentable_type': self.attachmentableType,
                        'attachmentable_id': self.attachmentableId,
                        'destination_path': self.destinationFolder
                    },
                    onNewFile: function (id) {
                        Bud.notification.info('Caricamento del file in corso'  + id);
                        console.log(self.rpcUrl + '?action=upload');
                    },
                    onComplete: function () {
                        console.log('Caricamento completato');
                        
                    },
                    onUploadSuccess: function (id, result) {

                        if (result.status == '1'){
                            Bud.notification.success(result.data.file.label + ' caricato correttamente')
                            console.log(self);
                            self.$emit('upload-complete');
                        }
                        else
                            Bud.notification.error(data.message)

                    },
                    onUploadProgress: function(){

                    },
                    onUploadError: function (id, message) {
                        Bud.notification.error(message)
                    },
                    onFileTypeError: function (file) {
                        Bud.notification.error('Formato non valido')
                    }
                }
                );
            }
        }
    };


</script>