<template>
    <div class="attachments-browser">
        <button class="btn btn-success btn-block" @click.prevent="showModal">Sfoglia archivio</button>

        <div class="modal" id="attachments_browser" tabindex="-1" role="dialog" aria-labelledby="Sfoglia allegati">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                    <div class="modal-toolbar">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="hideModal"><span aria-hidden="true">&times;</span></button>
                    </div>

                    <div class="modal-header">
                        
                        <h4 class="modal-title" id="myModalLabel">Archivio allegati</h4>
                        
                        <hr>
                        <form  class="form-inline">
                        <div class="form-group col-sm-3">
                            <label>Allegati: <strong>{{ total }}</strong></label>
                        </div>

                        <div class="form-group col-sm-6">
                            <label>Ricerca</label>
                            <input type="text" class="form-control input-sm" v-model="search"/>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Pagina</label>
                            <select class="form-control input-sm" v-model="current_page" @change="browseAttachments">
                                <option v-for="p in pages" :value="p">{{ p }}</option>
                            </select> 
                        </div>
                        </form>

                    </div>
                    <div class="modal-body">
                        <div class="loading-overlay" v-if="loading"></div>
                        <div class="row">
                            <div  class="col-sm-3 attachment-browser-cell-container" v-for="item in files">
                                    <div  class="attachment-browser-cell">
                
                                    <div class="img-background" v-if="item.is_image" :style=" {backgroundImage: 'url('+item.thumbnail+')'} "></div>
                                    
                                    <div class="caption">
                                        <strong><a href="" class="btn-attach-attachment" :rel="item.id">{{ item.label }}</a></strong><br/>
                                        <a href="#" data-toggle="tooltip" data-placement="right" :title="item.filename"><i class="fa fa-info"></i></a>&nbsp;
                                        <small>{{ Math.floor(item.size / 1024) }} Kb | {{ item.mime_type }}</small>
                                        &nbsp;<a :href="item.filename_absolute" target="_blank"><i class="fa fa-link"></i></a>
                                    </div>
               
                                    <button v-if="item.is_attached" class="btn btn-action btn-danger btn-sm "  @click="detach(item.id)"><i class="fa fa-minus"></i></button>
                                    <button v-else class="btn btn-action btn-primary btn-sm " @click="attach(item.id)"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

import Bud from '../bud-service';
import _ from 'lodash';

export default {
        props: ['attachmentableId', 'attachmentableType', 'rpcUrl'],
        methods: {
            browseAttachments : function(){
                var _this = this;
                Bud.loading();
                $.ajax({
                    url: _this.rpcUrl + '?action=browse',
                    data: {
                        'attachmentable_type': _this.attachmentableType,
                        'attachmentable_id': _this.attachmentableId,
                        'search': _this.search,
                        'records_per_page' : _this.records_per_page,
                        'page' : _this.current_page
                    },
                    success: function(response){
                        _this.files = response.data.attachments;
                        _this.total = response.data.total;
                        Bud.loading(false);
                        
                    },
                    dataType: 'json'
                });
                
            },
            showModal: function () {
                this.browseAttachments();
                $('#attachments_browser').modal();  
            },
            hideModal: function () {
                this.$emit('browser-closed');
            },
            attach: function(id){
                Bud.loading();
                var _this = this;


                var data = {
                    'action' : 'attach',
                    'attachmentable_type': _this.attachmentableType,
                    'attachmentable_id': _this.attachmentableId,
                    'attachment_id': id
                };

                Bud.rpcCall(_this.rpcUrl, data, function(result){
                    Bud.loading(false);
                    _this.browseAttachments();
                    
                });


            },
            detach: function(id){
                Bud.loading();
                var _this = this;

                var data = {
                    'action' : 'detach',
                    'attachmentable_type': _this.attachmentableType,
                    'attachmentable_id': _this.attachmentableId,
                    'attachment_id': id
                };

                Bud.rpcCall(_this.rpcUrl, data, function(result){
                    Bud.loading(false);
                    _this.browseAttachments();
                    
                });

            }
            
        },
        watch:{
            search: _.debounce(function(){
                
                this.browseAttachments();
            }, 500)
        },
        data: function () {
            var data = {
                search: '',
                loading: false,
                files: [],
                records_per_page: 12,
                current_page: 1,
                total: 0
            };
            return data;
        },
        computed: {
            pages: function(){
                var pages = Math.ceil(this.total / this.records_per_page);
                return pages > 0?pages:1;
            }
        }
    }
</script>
