
<template>
    <div class="carousel-editor-container row" >

        <div class="col-sm-8">
            <div class="dd " :id="'carousel_' + carouselId">
                <ol class="dd-list" >

                    <li class="dd-item" v-for="item in slides" :data-id="item.id">
                        <div class="dd-item-content">
                        
                                <div class="dd-handle">
                                    <i class="fa fa-arrows"></i>
                                </div>
                                <span class="title">
                                    <strong>{{ item.label }}</strong>
                                </span>

                                <span class="pull-right">
                                    
                                        <label class="form-check-label">Online</label>
                                        <input type="checkbox" v-model="item.online" @click="saveOnline(item)">

                                    <a class="btn btn-dd" @click="editSlide(item.id)"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-dd" @click="deleteSlide(item.id, $event)"><i class="fa fa-minus-circle"></i></a>
                                </span>
                              
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-sm-4">
            <button @click="createSlide" class="btn btn-block btn-primary my-2">Crea una nuova slide</button>
            <button @click="saveCarousel" class="btn btn-block btn-primary my-2">Salva l'ordinamento</button>    
        </div>

    </div>
</template>

<script>
    import Bud from '../bud-service';
    require('nestable2');

    export default {
        props: ['carouselId', 'rpcUrl'],
        data: function(){
            var data = {
                containerId : 'dd_carousel',
                nestableContainer: null,
                slides: []
                
                
            };
            return data;
        },
        mounted: function () {

            self = this;
            self.nestableContainer = $('#'+ self.containerId );
            self.loadSlides();

            
            
        },
        methods: { 
            loadSlides: function(){ 
                var self = this;
                
                Bud.loading();
                var data = {
                    'action' : 'loadSlides',
                    'carousel_id': self.carouselId
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);
                    self.slides = response.data.slides;

                    Vue.nextTick(function(){

                        console.log('CREO NESTABLE');
                        self.nestableContainer.nestable({
               
                        });
                    });


                });
            },
            createSlide: function(){ 
                var self = this;
                
                Bud.loading();
                var data = {
                    'action' : 'createSlide',
                    'carousel_id' : self.carouselId
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);
                    window.location.href = response.data.form_url;
                });
            },
            editSlide: function(id){ 
                var self = this;
                
                Bud.loading();
                var data = {
                    'action' : 'editSlide',
                    'slide_id': id
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);
                    window.location.href = response.data.form_url;
                });
            },
            saveOnline(item){
                    
                Bud.loading();
                var data = {
                    'action' : 'saveOnline',
                    'slide_id': item.id,
                    'online': item.online?1:0
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);
                    
                });

            },
            deleteSlide: function(id, e){ 
                e.preventDefault();
                e.stopPropagation();

                var self = this;
                if(confirm('Procedere con la cancellazione?')){
                    Bud.loading();
                    var data = {
                        'action' : 'deleteSlide',
                        'slide_id': id
                    };

                    Bud.rpcCall(self.rpcUrl, data, function(response){
                        Bud.loading(false);
                        self.loadSlides;
                    });

                }
                
                
            },
            saveCarousel: function(){

                var self = this;
                var taxonomy = self.carouselOl.sortable('serialize');
                
                
                Bud.loading();
                var data = {
                    'action' : 'saveCarousel',
                    'taxonomy': taxonomy,
                    'carousel_id': self.carouselId
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);
                    
                });

            }
            
            
        },
        
    };


    

</script>

