
<template>
    <div class="file-selector-container">

        <div class="row">
            <div class="col-sm-4">
                <div class="preview" v-if="filename != ''">

                    <div v-if="is_image">
                        <img :src="'/' + filename" class="img-responsive thumbnail">
                    </div>
                    <div class="file-thumbnail" v-else>
                        <div class="extension"><a :href="'/' + filename" target="_blank">{{ extension }}</a></div>
                        <div class="filename">{{ filename }}</div>
                    </div>


                </div>
                <div v-else>
                    <div class="alert alert-info alert-sm">Nessun file associato</div>
                </div>
            </div>
            <div class="col-sm-4">
                <label>Specificare l'azione da eseguire</label>
                <select :name="inputName + '_action'" v-model="action" class="form-control">
                    <option value="">Nessuna azione</option>
                    <option value="add">Aggiungi</option>
                    <option value="remove">Rimuovi</option>
                </select>
            </div>
            <div class="col-sm-4">
                <div v-if="action == 'add'">
                    <label>Selezionare il file da caricare</label>
                    <input type="file" :name="inputName"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>


    export default {
        props: ['inputName', 'filename'],
        data: function () {
            var data = {
                action: '',
                extension: ''
            };
            return data;
        },
        mounted: function () {
            var re = /(?:\.([^.]+))?$/;
            var ext = re.exec(this.filename)[0];

            if(ext != undefined)
                ext = ext.toLowerCase();
            else
                ext = '';

            this.extension = ext;
            
        },
        computed: {

            is_image: function(){

                var extensions = ['.jpg', '.jpeg', '.gif', '.bmp', '.png'];
               
                var idx = $.inArray(this.extension, extensions);

                if(idx != -1)
                    return true;
                else 
                    return false;

            }
        },
        methods: {
            
        }
    };


</script>