
<template>
    <div class="image-selector-container">

        <div class="row">
            <div class="col-sm-4">
                <div class="preview" v-if="filename != ''">
                <img :src="'/' + filename" class="img-responsive thumbnail">
                </div>
                <div v-else>
                    <div class="alert alert-info alert-sm">Nessun file associato</div>
                </div>
            </div>
            <div class="col-sm-4">
                <label>Specificare l'azione da eseguire</label>
                <select :name="inputName + '_action'" v-model="action" class="form-control">
                    <option value="">Nessuna azione</option>
                    <option value="add">Aggiungi</option>
                    <option value="remove">Rimuovi</option>
                </select>
            </div>
            <div class="col-sm-4">
                <div v-if="action == 'add'">
                    <label>Selezionare il file da caricare</label>
                    <input type="file" :name="inputName"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>


    export default {
        props: ['inputName', 'filename'],
        data: function () {
            var data = {
                action: ''
            };
            return data;
        },
        mounted: function () {
            
        },
        methods: {
            
        }
    };


</script>