
<template>
<div class="link-widget">

    
    <div class="alert alert-info">Per la creazione dei link in funzione della lingua, <strong>è necessario che i campi traducibili identificativi del record siano valorizzati</strong> (es. nome o titolo). Assicurarsi di <strong>aver salvato il record</strong> prima di tentare la creazione del link.</div>

    <table class="table table-condensed">
        <tbody>
        <tr v-for="link in links" >
                    <td class="w-15">
                       <h4>  {{ languages[link.language_id] }} </h4>
                    </td>
                    <td class="w-45">
                    <div :class="{ 'form-group': true, 'has-error': hasError(link.language_id,link.link) }">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ base_url }}</span>
                            </div>
                            <input :rel="link.language_id" type="text" class="form-control" v-model="link.link"/>

                            <div class="input-group-append" v-if="!hasError(link.language_id,link.link) && link.link != ''">
                                <button v-clipboard:copy="base_url + link.link" class="btn btn-default"><i class="fa fa-copy"></i></button>
                                <button class="btn btn-default" @click.prevent="openLink(link.link)"><i class="fa fa-external-link"></i></button>
                            </div>
                            
                             
                        </div>
                        
                        <span v-if="hasError(link.language_id, link.link)"><small>Il link specificato non è valido (formato sbagliato o gia esistente) </small></span>
                    </div>
                    </td>
                    <td class="w-40">
                       
                        <button class=" btn btn-success" @click.prevent="createLink(link.language_id)">Genera</button>
                        <button class=" btn btn-danger" @click.prevent="deleteLink(link)">Svuota</button>
                        <button class=" btn btn-primary" @click.prevent="saveLink(link)">Salva</button>
                    </td>
            
            
        </tr>
        </tbody>
    </table>
    
      
</div>
</template>

<script>

    import Bud from '../bud-service';

    import Vue from 'vue';
    import VueClipboard from 'vue-clipboard2';


    Vue.use(VueClipboard);

    export default {
        name: 'link-widget',
        //components: {VueClipboard},
        props: ['rpcUrl',  'linkableType', 'linkableId'],
        mounted: function () {
            this.getLinks();
            
        },
        methods: {
            hasError: function(language_id, link){
                return false; 
            },

            getLinks: function(){
                var self = this;

                var data = {
                    'action' : 'getLinks',
                    'linkable_id': self.linkableId,
                    'linkable_type': self.linkableType,
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);

                    self.links = response.data.links;
                    self.languages = response.data.languages;
                    self.base_url = response.data.base_url;
                });
            },
            createLink: function( language_id){
                var self = this;

                Bud.loading();
                var data = {
                    'action' : 'createLink',
                    'linkable_id': self.linkableId,
                    'linkable_type': self.linkableType,
                    'language_id': language_id,
                    
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);
                    var link = _.find(self.links, {language_id:language_id});

                    if(link == undefined){
                        // se non trovo un oggetto corrispondente, ne creo uno al volo
                        new_link = {language_id: language_id, link: link};
                        self.links.push(new_link);
                    }
                    else{
                        link.link = response.data.link;
                    }
                });
            },
            deleteLink: function(link){
                
                if(link != undefined){
                    link.link = '';
                }
            },
            
            saveLink: function(link){
                var self = this;

                Bud.loading();
                var data = {
                    'action' : 'saveLink',
                    'linkable_id': self.linkableId,
                    'linkable_type': self.linkableType,
                    'link': link,
                    
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);

                    if(response.data != null && response.data.errors != undefined){
                        self.errors = response.data.errors;
                    }
                   
                });
            },

            openLink: function(link){
                var url = this.base_url + link;
                window.open(url, '_blank');
            },

            // saveLinks: function(){
            //     var self = this;

            //     Bud.loading();
            //     var data = {
            //         'action' : 'saveLinks',
            //         'linkable_id': self.linkableId,
            //         'linkable_type': self.linkableType,
            //         'links': self.links,
                    
            //     };

            //     Bud.rpcCall(self.rpcUrl, data, function(response){
            //         Bud.loading(false);

            //         if(response.data != null && response.data.errors != undefined){
            //             self.errors = response.data.errors;
            //         }
                   
            //     });
            // }

        },
        data: function(){
            var data = {
                loading: false,
                languages: {},
                active_language_id: null,
                links: [],
                errors: {},
                base_url: ''
                
            };
            return data;
        },
        // computed: {
            
        //     links_by_language_id : function(){
                
        //         var links = {};
        //         for(var i in this.languages){

        //             var language_id = this.languages[i].id;
        //             var link = _.find(this.links, {language_id:language_id});

        //             if(link == undefined)
        //                 links[language_id] = '';
        //             else
        //                 links[language_id] = link.link;
        //         }

        //         return links;


        //     }

        // },
        components: {
        
      },
        
    };


</script>

