
<template>
    
    <draggable :element="'ul'" v-model="local_nodes" :class="'draggable-list draggable-level-' + local_level"  :options="{handle: '.handle', group: {name: 'menu-group'}}" @end="stopDrag()">
        <li v-for="item in local_nodes" :data-id="item.id">
        
            <div class="card my-1">
                <div class="card-body p-1">
                    <div class="row ">
                        <div class="col-sm-1 text-center d-flex align-items-center">
                            <div class="handle">
                                <i class="fa fa-arrows"></i>
                            </div>
                        </div>
                        <div class="col-sm-7 d-flex align-items-center">
                            <strong>{{ item.title }}</strong>
                        </div>
                        <div class="col-sm-4 text-right">
                            <a class="btn btn-dd" @click="nodeEdit(item.id)"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-dd" @click="nodeAdd(item.id)"><i class="fa fa-plus-circle"></i></a>
                            <a class="btn btn-dd" @click="nodeDelete(item.id)"><i class="fa fa-minus-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <menu-tree v-if="item.children.length > 0" :nodes="item.children" :level="local_level + 1" v-on:node-action="handleAction" class="pl-4"></menu-tree>
        </li>
    </draggable>
    
</template>

<script>
    import draggable from 'vuedraggable'

    export default {
        name: 'menu-tree',
        props: ['nodes', 'level'],
        data: function(){
            var data = {
                local_nodes: [],
                local_level: 1,
            };
            return data;
        },
        mounted: function(){
            this.local_nodes = this.nodes;  

            if(this.level != undefined && this.level != '')
                this.local_level = this.level;
        },
        
        methods:{

            stopDrag: function(){
                console.log(this.local_nodes);
            },
            handleAction: function(params){
                this.$emit('node-action', params);
            },

            nodeEdit: function(node_id){
                this.$emit('node-action', [node_id, 'edit']);
            },
            nodeAdd: function(node_id){
                this.$emit('node-action', [node_id, 'add']);
            },
            nodeDelete: function(node_id){
                this.$emit('node-action', [node_id, 'delete']);
            }
               
        },
        watch:{
            nodes: function(){
                //this.$forceUpdate();
            }
        },
        components: {
            draggable,
        },
    };


    

</script>

<style scoped>
    .draggable-list {
        list-style-type: none;
        padding-left: 0;
        min-height: 10px;
    }
</style>
