
<template>
    <div class="row">
        <div class="col-sm-8" >
            <div :id="containerId" class="py-4"  v-if="nodes.length > 0">
                <menu-tree :nodes="nodes" v-on:node-action="handleNodeAction"></menu-tree>
                
            </div>
            <div v-else class="alert alert-info my-2">Non sono presenti elementi in questo men&ugrave;</div>
         </div>
         <div class="col-sm-4">
            
            <div class="">
                
                
                    <button class="btn btn-primary btn-block my-2" @click='saveMenu()' >Salva menu</button>
                    
                    <button class="btn btn-secondary btn-block my-2" @click='addNode(0)' v-if="!formEnabled">Aggiungi elemento</button>
        
                    <div class="card"  v-if="formEnabled">
                        <div class="card-body">
                            <h4 v-html="formTitle"></h4>
                            <div class="form-group">
                                <label>Titolo Visualizzato</label>
                                <input type="text" class="form-control form-control-sm" v-model="currentNode.title"/>
                            </div>

                            <div class="form-group">
                                <label>Url</label>
                                <input type="text" class="form-control form-control-sm"  v-model="currentNode.url"/>
                            </div>
                            <div class="form-group ">
                                <div class="checkbox ">
                                    <label class=""><input type="checkbox" :checked="currentNode.url_blank_page =='1'"/>Apri in una nuova finestra</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Attributi extra</label>
                                <input type="text" class="form-control form-control-sm" v-model="currentNode.extra"/>
                            </div>

                            <input type="hidden"  v-model="currentNode.id"/>
                            <input type="hidden" v-model="currentNode.parent_id"/>

                            <div class="form-actions row">
                                <div class="col-sm-6"><input type="button" class="btn btn-primary btn-block" value="Salva elemento" @click="saveNode"/></div>
                                <div class="col-sm-6"><input type="button" class="btn btn-danger btn-block" value="Annulla" @click="cancelForm"/></div>
                            </div>

                        </div>
                    </div>
                

            </div>
        </div>
    </div>
</template>

<script>
import Bud from '../bud-service';
import MenuTree from './menu-tree.vue';

require('nestable2');

export default {
    props: ['menuId', 'languageId', 'rpcUrl'],
    data: function(){
            var data = {
                nodes: [],
                currentNode: {},
                containerId : 'dd_menu_' + this.menuId + '_' + this.languageId,
                formEnabled : false,
                formTitle : 'Modifica nodo',
                loading : false,
                nestableContainer: false
                
                
            };
            return data;
        },
        computed: {
            computedNodes: function(){ // forse si può togliere
                return this.nodes;
            }
        },
    mounted: function () {

        self = this;
        self.nestableContainer = $('#'+ self.containerId );
        self.loadMenu();

        },
        methods: { 
            handleNodeAction: function(params){

                var action = params[1];
                var node_id = params[0];

                switch(action){

                    case 'edit':
                    this.editNode(node_id);
                    break;
                    case 'add':
                    this.addNode(node_id);
                    break;
                    case 'delete':
                    this.deleteNode(node_id);
                    break;
                    default: 

                    break;
                }
            },
            editNode: function(node_id){

                var self = this;
                self.formEnabled = true;
                self.formTitle = 'Modifica nodo';
                Bud.loading();

                var data = {
                    'action' : 'getNode',
                    'node_id': node_id
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);
                    self.currentNode = response.data.node;
                });

                
            },     
            addNode: function(node_id){

                var self = this;
                self.formEnabled = true;
                self.formTitle = 'Nuovo nodo';
                self.currentNode = {parent_id: node_id}; 
            }, 
            saveNode: function(node_id){

                var self = this;
                Bud.loading();

                self.currentNode.menu_id = self.menuId;
                self.currentNode.language_id = self.languageId;

                var data = {
                    'action' : 'saveNode',
                    'node': self.currentNode
                };


                Bud.rpcCall(self.rpcUrl, data, function(response){
                    self.formEnabled = false;
                    Bud.loading(false);
                    self.loadMenu();
                });

                
            },
            deleteNode: function(node_id){
                var self = this;
                Bud.loading();
                if(confirm('Procedere con la cancellazione?')){
                    var data = {
                        'action' : 'deleteNode',
                        'node_id': node_id
                    };

                    Bud.rpcCall(self.rpcUrl, data, function(response){
                        Bud.loading(false);
                        self.loadMenu();
                    });    
                }

                
            },       
            cancelForm: function(e){
                this.formEnabled = false;
            },
            loadMenu: function(){ 

                var self = this;
                Bud.loading();
                var data = {
                    'action' : 'getNodes',
                    'menu_id': self.menuId,
                    'language_id': self.languageId
                };

                console.log('carico');

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);
                    self.nodes = response.data.nodes;

                    Vue.nextTick(function(){
                        self.nestableContainer.nestable({
               
                        });
                    });
                     
                });
            },
            saveMenu: function(){
                var self = this;
                
                
                // var taxonomy = self.nestableContainer.nestedSortable('serialize');
                var taxonomy = self.nestableContainer.nestable('serialize');
                console.log(taxonomy);
                Bud.loading();
                var data = {
                    'action' : 'saveTaxonomy',
                    'menu_id': self.menuId,
                    'language_id': self.languageId,
                    'taxonomy': taxonomy
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);                    
                    //self.nodes = response.data.nodes;
                });
            }
        },
        components: {MenuTree}
    };


    

    </script>

