
<template>
<div class="metadata-widget">

    <div class="py-2">
        <div class="row">
            <div class="col-sm-4">
            <button class="btn btn-primary" @click.prevent="addMeta">Aggiungi</button>
            <button class="btn btn-success" @click.prevent="saveMetas" :disabled="!form_is_valid" >Salva tutti</button>
            </div>
            <div class="col-sm-8">
                <div class="alert alert-danger" v-if="!form_is_valid"> 
                    Impossibile salvare, verificare che i campi indicati in rosso non siano vuoti o duplicati.
                </div>
            </div>
        </div>
        
    </div>
    <table class="table table-metadata">
        <tbody>
             <tr v-for="metadata,idx in metadatas" :key="metadata.key">
                <td class="w-25">
                                        
                    <input :class="'form-control form-control-lg metadata-name ' + (metadata.is_invalid == true?'is-invalid':'')" v-model="metadata.name" placeholder="Nome Meta" @blur="checkMetas()" @keyup="checkMetas()">
                    <span class="badge badge-primary">{{ idx + 1 }}</span>  <a href="" @click.prevent="removeMeta(idx)">Elimina</a>
                </td>
                <td class="w-75">
                    <multilanguage-widget :langs="languages"  :translations="metadata.data"></multilanguage-widget>
                </td>
                
            </tr>
        </tbody>
    </table>
   

   
</div>
</template>

<script>
    
    import Bud from '../bud-service';
    import MultilanguageWidget from './multilanguage-widget.vue';

    export default {
        name: 'metadata-widget',
        props: ['rpcUrl',  'hasmetaType', 'hasmetaId'],
        mounted: function () {
            this.getMeta();
            
        },
        methods: {
            getMeta: function(){
                
                var self = this;

                var data = {
                    'action' : 'getMetadata',
                    'hasmeta_id': self.hasmetaId,
                    'hasmeta_type': self.hasmetaType,
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);

                    var metadatas = response.data.metadatas;

                    metadatas.map(function(item){
                        item.key = _.uniqueId();
                        item.is_invalid = false;
                        item.data = JSON.parse(item.data);
                        return item;

                    });

                    self.metadatas = metadatas;

                    self.languages = response.data.languages;
                    
                });
            },
            addMeta: function(){

                var new_data = {};
                for(var idx in this.languages){
                    new_data[ this.languages[idx].id ] = '';
                }

                var new_meta = {};
                new_meta.key = _.uniqueId();;
                new_meta.is_invalid = false;
                new_meta.name = '';
                new_meta.data = new_data;
                new_meta.hasmeta_id = this.hasmeta_id;
                new_meta.hasmeta_type = this.hasmeta_type;

                this.metadatas.push(new_meta)

                this.checkMetas();
            },
            checkMetas: _.debounce(function(){

                var names = [];
                var errors = 0;


                for(var i in this.metadatas){

                        //console.log(checked.name, this.metadatas[i].name);
                    if(_.includes ( names, this.metadatas[i].name ) || this.metadatas[i].name == ''){

                        this.metadatas[i].is_invalid = true;
                        errors++;
                    }
                    else{
                        this.metadatas[i].is_invalid = false;
                        names.push(this.metadatas[i].name);
                    }

                    this.form_is_valid = errors == 0?true:false;
                    
                }

               

            }, 500),

            saveMetas: function(){

                var self = this;


                 var data = {
                    'action' : 'saveMetadatas',
                    'hasmeta_id': self.hasmetaId,
                    'hasmeta_type': self.hasmetaType,
                    'metadatas' :self.metadatas
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);
                });
            },

            removeMeta: function(idx){
                

                if(confirm('Procedere con la rimozione del metadato? Ricordarsi di salvare tutto per confermare l\'eliminazione.')){
                    this.metadatas.splice(idx, 1);
                    this.checkMetas();    
                }
                
                
            }

        },
        data: function(){
            var data = {
                loading: false,
                form_is_valid: true,
               
                metadatas: [],
                languages: []
                
            };
            return data;
        },
        components: {
        MultilanguageWidget
      },
        
    };


</script>

<style scoped>
    .metadata-name{
        font-weight: bold;
        font-size: 20px;
    }
</style>

