
<template>
<div class="multilanguage-widget">

    <ul class="nav nav-tabs nav-tabs-translation" role="tablist">
        <li v-for="language in languages" role="presentation" class="nav-item"><a :href="'#' + language.language" :aria-controls="language" role="tab" @click="active_language_id = language.id" :class="'nav-link ' + (active_language_id == language.id?'active':'')">{{ language.language }}</a></li>
    </ul>


    <div class="tab-content">
        <div v-for="language in languages" role="tabpanel" :class="'tab-pane tab-pane-translation' + (active_language_id == language.id?' active':'')">
            
            <!--<summernote v-if="isHtml" :model="translations[language.id]" v-on:modelchange="editorDataChanged"></summernote>-->
            <input :id="fieldName + '_plain'" :rel="language.id" type="text" class="form-control" v-if="!isHtml" v-model="translations[language.id]"/>
            <textarea :id="fieldName + '_html_' + language.id" :rel="language.id" :class="'form-control html-editor ' + fieldName" v-if="isHtml" v-model="translations[language.id]"></textarea>

            <!--
            <div class="text-right"><small>
                <span>
                    <a class="btn btn-sm" v-for="language2 in languages" v-if="language.id != language2.id" @click="copyTranslation(language2.id, language.id)">Copia da {{ language2.language }}</a>
                </span>
            </small></div>
            -->
        </div>
    </div>
    
  
</div>
</template>

<script>


    // NOTA IMPORTANTE
    // non posso modificare una prop, e in questo caso mi servirebbe perche il valore non è associato a un elemento dell'html ma a una libreria jquery (summernote)
    // per cui l'unico modo è emettere un evento con i parametri adeguati e fare in modo che il parent lo intercetti e aggiorni il valore
    // 
    import Bud from '../bud-service';


    export default {
        name: 'multilanguage-widget',
        props: ['fieldName', 'translations', 'isHtml', 'langs', 'rpcUrl'],
        mounted: function () {

            if(this.langs.length == 0)
                this.getLanguages();
            else{
                this.languages = this.langs;
                this.setup();
            }
            
            //console.log(this.translations);
        },
        methods: {
            getLanguages: function(){
                var self = this;
                Bud.loading();
                var data = {
                    'action' : 'getLanguages'
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);
                    self.languages = response.data.languages;

                    self.setup();
                });

            },
            copyTranslation(source_id, destination_id){
                var self = this;
                self.$emit('copyEvent', self.fieldName, source_id, destination_id);
            },
            setup(){
                var self = this;

                //console.log(self.languages);

                if(self.languages.length > 0){
                    self.active_language_id = self.languages[0].id;    

                    
                    if(self.isHtml){
                        
                        
                        Vue.nextTick(function(){
                            // self.html_editor = $('.' + self.fieldName);

                            $('.' + self.fieldName).each(function(index){

                                var editor = $(this);

                                editor.summernote({
                                    height: 400,
                                    toolbar: [
                                        // [groupName, [list of button]]
                                        ['style', ['bold', 'italic', 'underline', 'clear', 'style']],
                                        ['para', ['ul', 'ol', 'paragraph']],
                                         ['insert', ['link', 'picture', 'video', 'hr', 'table']],
                                         ['view', ['fullscreen', 'codeview']],
                                      ],
                                    callbacks : {
                                        onImageUpload: function(image) {

                                            var data = new FormData();
                                            data.append("image", image[0]);
                                            //var _this = $(this);

                                            var ajax_params = {
                                                contentType: false,
                                                processData: false
                                            }; 

                                            Bud.rpcCall(BASE_URL + '/rpc/html_editor/upload_image', data, function(result){
                                                var image = result.data.filename;
                                                //_this.summernote("insertImage", image);
                                                editor.summernote("insertImage", image);
                                            }, ajax_params);
                                        }
                                    }
                                }).on("summernote.change", function () {
                                    // Note that we do not use the "onChange" options of the summernote
                                    // constructor. Instead, we use a event handler of "summernote.change"
                                    // event because that I don't know how to trigger the "onChange" event
                                    // handler after changing the code of summernote via ".summernote('code')" function.
                                    // 
                                    
                                    var content = editor.summernote("code");
                                    var language_id = editor.attr("rel");
                                    self.$nextTick(function () {
                                        self.$emit('contentChanged', self.fieldName, language_id, content);
                                    });
                                });;
                            });


                            
                        })

                    }
                        

                }
            }


        },
        data: function(){
            var data = {
                loading: false,
                languages: {},
                active_language_id: null
                
            };
            return data;
        },
        components: {
        
      },
        
    };


</script>

