
<template>
<div class="password-widget">
   <div class="input-group">
    
    <div class="checkbox">
        <label for="passwordable_set"><input type="checkbox" id="password_checkbox"  v-model="is_checked" @click="handlePassword"> Record protetto da password</label>
    </div>
</div>

<div id="passwordable_passwords_panel" v-if="is_checked">
    
    <div class="form-group">
        <!-- <label for="passwordable_password">Password</label> -->
        <input type="password" value="" class="form-control input-sm" v-model="password"  placeholder="Password"/>
    </div>

    <div class="form-group">
        <!-- <label for="passwordable_password_confirm">Password - Conferma</label> -->
        <input type="password" value="" class="form-control input-sm" v-model="password_confirm"  placeholder="Conferma password"/>
    </div>
    
    <div class="form-actions">
        <button class="btn btn-primary btn-block btn-sm" id="password_save_btn" @click="handlePassword">Salva la password</button>
    </div>
    
</div>
</div>
</template>

<script>
    import Bud from '../bud-service';

    export default {
        props: ['passwordableId', 'passwordableType', 'rpcUrl', 'checked'],
        mounted: function () {

        },
        methods: {
            
            handlePassword: function (e) {

                
                var target_id = $(e.target).attr('id');

                if(target_id == 'password_checkbox' && !this.is_checked){
                    this.savePassword(0,'');
                }                

                if(target_id == 'password_save_btn'){
                    e.preventDefault();
                    if(this.password == ''){
                        alert('Impossibile salvare una password vuota');
                        return;
                    }
                    else if(this.password != this.password_confirm){
                        alert('Le password specificate non corrispondono');
                        return;   
                    }
                    else{
                        this.savePassword(1,this.password);
                    }
                }
               
            },
            savePassword: function(has_password, password){ 
                Bud.loading();
                var self = this;
                var data = {
                    'action' : 'set',
                    'has_password': has_password,
                    'password' : password,
                    'passwordable_type': self.passwordableType,
                    'passwordable_id': self.passwordableId
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);
                });
            }

        },
        data: function(){
            var data = {
                loading : false,
                password : '',
                password_confirm : '',
                is_checked: (this.checked)
            };
            return data;
        }
    };


</script>

