
<template>
    
            <div class="tags-manager">
             <div class="form-group">
                 <a name="tags-container" id="tags-container"></a>

                <input v-model='current_tag' type="text" class="form-control form-control-sm" placeholder="Nuovo tag" v-on:keyup.enter="addTag()">

                   
                 <div class="tags">
                    <span class="badge badge-primary" v-for="tag in tags">{{ tag }} 
                        <span class="remove" @click.prevent="removeTag(tag)">&times;</span>
                    </span>

                </div>

                
                
                <button @click.prevent="saveTags" class="btn btn-primary btn-sm btn-block">Salva i tags</button>
                <div class="favourites">
                    <a class="badge badge-secondary" v-for="tag in favourites" @click.prevent="addTag(tag)">{{ tag }} </a>

                </div>

            </div>
        </div>
    
</template>

<script>

import Bud from '../bud-service';

export default {
    props: ['taggableId', 'taggableType', 'rpcUrl'],
    data: function () {
        var data = {
            current_tag: '',
            tags: [],
            favourites: []

        };
        return data;
    },
    
  mounted: function () {

    this.loadTags();
    this.loadFavourites();

  },
  methods: {
    addTag: function(tag){

        if(tag == undefined){
            tag = this.current_tag;
            this.current_tag = '';
        }

        console.log('Aggiungo ' + tag);

        if(tag != '' && this.tags.indexOf(tag) == -1){
            this.tags.push(tag);            
        }
    },

    removeTag: function(tag){
        var idx = this.tags.indexOf(tag);
        if(tag != '' && idx != -1){
            this.tags.splice(idx, 1);
        }
    },

    loadTags: function(){
        Bud.loading();
        var self = this;
        var data = {
            'action' : 'loadTags',
            'taggable_type': self.taggableType,
            'taggable_id': self.taggableId
        };

        Bud.rpcCall(self.rpcUrl, data, function(response){
            Bud.loading(false);
            self.tags = response.data.tags;
        });
    },

    saveTags: function(){
        Bud.loading();
        var self = this;
        var data = {
            'action' : 'saveTags',
            'taggable_type': self.taggableType,
            'taggable_id': self.taggableId,
            tags: self.tags
        };

        Bud.rpcCall(self.rpcUrl, data, function(response){
            Bud.loading(false);
        });
    },
    loadFavourites: function(){
        Bud.loading();
        var self = this;
        var data = {
            'action' : 'loadFavourites',
            'taggable_type': self.taggableType,
            'taggable_id': self.taggableId
        };

        Bud.rpcCall(self.rpcUrl, data, function(response){
            Bud.loading(false);
            self.favourites = response.data.favourites;
        });
    },
}
};


</script>