
<template>
    <div class="translation-editor-container">

        <div class="alert alert-danger" v-if="!canWrite"><strong>Attenzione</strong>: La cartella che continene i file delle traduzioni non è scrivibile. Verificare le autorizzazioni.</div>

        <div class="well">
            <div class="row">
                <div class="col-sm-2">
                    <select class="form-control" v-model="currentGroup">
                        <option v-for="group in groups">{{ group }}</option>
                    </select>

                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary" @click="addRow">Nuovo</button>
                    <button class="btn btn-success" @click="saveAll">Salva tutto</button>
                </div>
                <div class="col-sm-6">
                    <ul class="nav nav-pills pull-right">
                        <li v-for="language in languages" :class="currentLanguage == language?'active':''">
                            <a @click="currentLanguage = language">{{ language }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        





        <table class="table table-hover table-condensed">
            <tbody>


                <!-- FORM -->
                <tr class="active" v-if="formEnabled">
                    <td>
                        <label>Inserisci chiave</label>
                        <input class="form-control input-sm" type="text" v-model="currentRow.key"/>
                    </td>
                    <td v-for="language in languages" v-if="currentLanguage == language">
                        <label>Inserisci traduzione per <strong>{{ language }}</strong></label>
                        <input class="form-control input-sm" type="text" v-model="currentRow.translation[language]"/>
                    </td>
                    <td class="text-right">
                        <button class="btn btn-success" @click="saveRow"><span class="glyphicon glyphicon-ok"></span></button>
                        <button class="btn btn-danger" @click="resetForm"><span class="glyphicon glyphicon-remove"></span></button>
                    </td>
                </tr>


                <!-- LIST -->
                <tr v-for="row in sortedTranslations">
                    <td>{{ row.key }}</td>

                    <td v-for="language in languages" v-if="currentLanguage == language">
                        <input class="form-control input-sm" type="text" v-model="row.translation[language]">

                    </td>
                    <td class="text-right">
                        <!--<button class="btn btn-primary" @click="editRow(key, translation)"><span class="glyphicon glyphicon-edit" ></span></button>-->
                        <button class="btn btn-danger" @click="deleteRow(key)"><span class="glyphicon glyphicon-remove"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</template>

<script>
    import Bud from '../bud-service';


    export default {
        props: ['rpcUrl'],
        mounted: function () {
            self = this;
            self.resetForm();
            self.loadTranslations();
        },
        methods: { 
            
            resetForm: function(){
                console.log('Reset form');
                this.formEnabled= false;
                this.currentRow = {key: '', translation: {}};
            },
            addRow: function(){
                this.resetForm();
                this.formEnabled = true;
            },
            saveRow: function(){

                var old = _.find(this.translations, {key:this.currentRow.key})
                if(old != undefined){
                    old.translation = this.currentRow.translation;
                }
                else{

                    this.translations.push(this.currentRow);
      
                }

                
                this.resetForm();

                
            },
            editRow: function(row){

                this.currentRow.row;
                
                this.formEnabled = true;
                
                
            },
            deleteRow: function(key){
                Vue.delete(this.translations, key);
                //this.translations.$remove(key)
                
            },
            loadTranslations: function(){

                self = this;

                var data = {
                    'action' : 'loadTranslations',
                    'group': self.currentGroup
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){

                    Bud.loading(false);
                    //self.keys = response.data.keys;
                    self.languages = response.data.languages;
                    self.groups = response.data.groups;
                    self.translations = response.data.translations;
                    self.canWrite = response.data.canWrite;

                    self.currentLanguage = response.data.languages[0];
                });
            },
            saveAll: function(){
                console.log('saveAll');
                self = this;

                var data = {
                    'action' : 'saveTranslations',
                    'translations': self.translations
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){

                    
                });
            }
        },
        data: function(){
            var data = {
                languages: [],
                groups: [],
                //keys: [],
                translations: [],
                loading: false,

                currentGroup: '',
                currentLanguage: null,

                formEnabled: false,
                currentRow: {},
                canWrite: false

            };
            return data;
        },
        watch: {
            currentGroup: function(){
                this.loadTranslations();
            }
        },
        computed: {
            sortedTranslations: function(){
                 return _.sortBy(this.translations,['key']);
                 //return _.orderBy(this.translations, ['key']);
                 //return _.sortBy(this.translations, ['key']);

               
            }
        }
    };


    

</script>
