
<template>
    <div class="typeahead-input-container">
        <input type="hidden" :name="inputName" v-model="result_id">
        <div class="form-group">
            <label :for="inputName"> {{ inputLabel }}</label>
            
                <input type="text" :name="inputName + '_name'"  v-model="result_label" class="form-control typeahead" >
                
                    <div class="text-right"><a href="#" @click.prevent="clear" class="btn">Svuota</a></div>
                
            
            </div>
        </div>
    </div>
</template>

<script>
    require("typeahead.js/dist/typeahead.jquery.min.js");
    const Bloodhound = require("typeahead.js/dist/bloodhound.min.js");


    export default {
        props: ['inputName', 'inputLabel', 'rpcUrl', 'valueId', 'valueLabel'],
        data: function () {
            var data = {
                result_id: null,
                result_label: ''
            };
            return data;
        },
        mounted: function () {

            var self = this;

            self.result_id = self.valueId;
            self.result_label = self.valueLabel;

            var results = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,

                remote: {
                  //url: '../data/films/queries/%QUERY.json',
                  //wildcard: '%QUERY'
                  url: self.rpcUrl + '?q=%QUERY',
                  wildcard: '%QUERY',

                  filter: function (data) {
                        // $.map converts the JSON array into a JavaScript array
                        return $.map(data.data, function (result) {
                            return {
                                // NB : replace original_title below with your JSON film key
                                ref: self.inputName,
                                result_id: result.id,
                                result_label: result.label,
                            };
                        });
                    }
                }
             });
             
            $('input[name=' + self.inputName + '_name]').typeahead(null, {
                name: 'data',
                display: 'result_label',
                source: results,
                limit: 20
              });
              
            $(document).on('typeahead:select', function(e, obj){
                
                if(obj.ref == self.inputName){
                    //$('input[name=' + self.inputName + ']').val(obj.result_id);
                    self.result_id = obj.result_id;
                    self.result_label = obj.result_label;
                }
                
            });
            
            
            
            
        },
        methods: {
            clear: function(e){
                e.preventDefault();
                
                this.result_id = null;
                this.result_label = '';

                Vue.nextTick(function(){

                });
            }
        }
    };


</script>