
<template>
<div class="version-widget">

    <p class="alert alert-info">Le revisioni vengono create automaticamente ad ogni salvataggio e <strong>riguardano solo i dati specificii del record, non le entità associate (es. allegati, tags, links, etc.)</strong>. <span v-if="versioning_copies > 0"> Vengono mantenute al massimo <strong>{{ versioning_copies }}</strong> revisioni del record.</span></p>

    <table v-if="versions.length > 0" class="table table-condensed table-hover">
        <thead>
            <th>Versione</th>
            <th>Creata da</th>
            <th>Data creazione</th>
            <th>Note</th>
            <th>&nbsp;</th>
        </thead>
        <tbody>
        <tr v-for="(version, index) in versions" >
                    <td class="col-sm-2  text-center">
                        <span class="badge" :title="'ID: ' + version.id">
                            {{ version.version_number }}
                        </span>
                    </td>
                    <td class="col-sm-2">
                        <strong>
                            {{ version.user.email }}
                        </strong>
                    </td>
                    <td class="col-sm-2">
                            {{ version.created_at }}
                    </td>
                    <td class="col-sm-3">
                        <div class="input-group">
                            <input type="text" class="form-control" v-model="version.notes">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" @click="saveNotes(version)" title="Salva note"><span class="glyphicon glyphicon-ok"></span></button>
                            </span>
                        </div>
                    </td>
                    <td class="col-sm-3 text-right">
                        <div v-if="index > 0">
                        <a class=" btn btn-info btn-sm" v-if="version.preview_url != ''" :href="version.preview_url" target="_blank">Anteprima</a>
                            <a class=" btn btn-warning btn-sm" @click.stop="restoreVersion(version.id, version.version_number)">Ripristina</a>
                            <a class=" btn btn-danger btn-sm" @click.stop="deleteVersion(version.id, version.version_number)">Cancella</a>
                        </div>
                        <div v-else><em>Revisione corrente</em></div>
                    </td>
            
            
        </tr>
        </tbody>
    </table>
    <div class="alert alert-warning" v-else> Non ci sono revisioni disponibili per questo record</div>
   
</div>
</template>

<script>


    
    import Bud from '../bud-service';


    export default {
        name: 'version-widget',
        props: ['rpcUrl',  'versionableType', 'versionableId'],
        mounted: function () {
            this.getVersions();
            
        },
        methods: {
            hasError: function(link){
                return this.errors.indexOf(link) != '-1';
            },

            getVersions: function(){
                var self = this;

                var data = {
                    'action' : 'getVersions',
                    'versionable_id': self.versionableId,
                    'versionable_type': self.versionableType,
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);
                    self.versions = response.data.versions;
                    self.versioning_copies = response.data.versioning_copies;
                });


            },
            restoreVersion: function(id, version_number){
                if(!confirm("Procedere col ripristino della revisione " + version_number + "?\nAl termine dell'operazione la pagina verrà ricaricata, per cui le eventuali modifiche non salvate verranno perdute.")){
                    return;
                }

                var self = this;

                var data = {
                    'action' : 'restoreVersion',
                    'version_id': id
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);
                    console.log('1ui');
                    window.location.reload();
                });

            },
            deleteVersion: function(id, version_number){

                if(!confirm('Procedere con la cancellazione della revisione ' + version_number + '?')){
                    return;
                }

                var self = this;

                var data = {
                    'action' : 'deleteVersion',
                    'version_id': id
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);
                    self.getVersions();
                });
            },
            saveNotes: function(version){

                

                var self = this;

                var data = {
                    'action' : 'saveNotes',
                    'version_id': version.id,
                    'notes': version.notes
                };

                Bud.rpcCall(self.rpcUrl, data, function(response){
                    Bud.loading(false);
                    //self.getVersions();
                });
            },
            

        },
        data: function(){
            var data = {
                loading: false,
                versioning_copies: 0,
                versions: [],
                errors: [],
                
            };
            return data;
        },
        components: {
        
      },
        
    };


</script>

