// @import url('https://fonts.googleapis.com/css?family=Anton'); // 
@import url('https://fonts.googleapis.com/css?family=Heebo:900'); // 
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url(http://fonts.googleapis.com/css?family=Lato:900);

$font-primary: 'Heebo', helvetica, Sans Serif;
$font-text: 'Nunito', helvetica, Sans Serif;
$font-black: 'Lato', Arial, helvetica, Sans Serif;

$grey-light: #f8f8f8;

$navbar-height: 50px;
$footer-height: 100px;








