


.form-header{
    padding: 10px;
    
    margin-bottom: 20px;
    
    h1{
        margin: 0;
    }
    
    .record-info{
        font-size: 11px;
    }
    
}

.form-actions{
    margin-top: 20px;
}

form.form-delete{
    display: inline;
}

.tab-content{
    
}


.panel-form{
    background-color: #f8f8f8;
    margin-top: 20px;
    
}


// ul.nav-tabs-translation{
    
//     li{
//         a:hover{
//             background-color: $primary;
//             color: white;
//         }
//     }
    
//     li.active{
//         a, a:focus{
//             background-color: $grey-light;
//         }
//     }
// }





// Multilanguage widget

.multilanguage-widget{

    // ul.nav-tabs{
    //     border-bottom: 0;
    //     li.nav-item{
    //         //background-color: white;    

    //         &.show{

    //             a.nav-link{
    //                 background-color: #f8f8f8;        
    //                 border: 0;
    //             }
                
    //         }
    //     }
    // }

    .tab-pane{
        padding: 10px;
        border-left: 1px solid $nav-tabs-border-color;
        border-bottom: 1px solid $nav-tabs-border-color;
        border-right: 1px solid $nav-tabs-border-color;
    }
}


.dm-uploader{
    
    border: 3px dashed $primary;
    background-color: rgba(black, 0.6);
    height: 200px;
    padding: 45px 15px;
    text-align: center;
    border-radius: 16px;
    color: white;
    margin: 10px 0;
    
    .glyphicon{
        font-size: 36px;
    }
    
    
    .btn-browse{
        display: inline-block;
        position: relative;
        overflow: hidden;
        margin: 10px;
        
        input[type=file] {
            display: none;
            /*
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            width: 0;
            height: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
            */
        }
        
    }
    
}

.form-upload-progress-container{
    min-height: 25px;
    
    .progress{
        margin: 0;
    }
}

.form-upload-log{
    margin-top: 10px;
    height: 165px;
    overflow-y: auto;
    background-color: $grey-light;
    padding: 5px;
}

.code-editor{
    position: relative;
    height: 500px;
}

.file-thumbnail {
    height: 100px;
    background-color: $primary;
    padding: 20px 5px;
    color: white;
    margin: 10px 0;
    
    text-align: center;

    .filename{
        font-size: 10px;
        
    }

    .extension{
        font-size: 28px;
        font-weight: bold;

        a{
            color: $grey-light;
        }
    }
}


.attachment-details {
    font-size: 11px;

    .row{
        border-bottom: 1px solid #eeeeee;
    }
}



.table-metadata {

    td {
        vertical-align: bottom;
    }
}

.metadata-name {
    font-weight: bold !important;
}
