html, body{
    height: 100%;
}

.main-container{
    padding-top: 20px;
    padding-bottom: $footer-height + $navbar-height;
    position: relative;
    min-height: 100%;
    
    .content-wrapper{
        //margin-bottom: $footer-height + $navbar-height;
        
    }
    
    .footer{
        position: absolute;
        width: 100%;
        bottom:  0;
        height: $footer-height;
        background-color: $secondary;
        border-top: 4px solid $primary;
        padding-top: 20px;
        color: white;
        font-size: 12px;
    }
}


.panel-login{
    border-color: $secondary;
    margin-top: 40px;
    
    
    .panel-heading{
        background-color: $secondary;
        text-align:center;
        font-family: $font-primary;
        font-size: 24px;
    }
}

// Bootstrap overrides
.well{
    border: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;

    .well-sm, .well-lg{
        border-radius: 0;
    }

}

ol.breadcrumb{
    border: none;
    border-radius: 0;
}