.modal-body{
    position: relative;
    
    .loading-overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(white, 0.7);
    }
}

.attachments-browser{

    .modal-toolbar{
        background-color: $gray-600;
        display: block;
        padding: 5px;

        .close{
            color: white;
            font-size: 14px;
        }
    }

    .attachments-browser-cell-container{
        padding: 4px;
    }

    .attachments-browser-cell{
        font-size: 12px;
        min-height: 150px;
        
        position: relative;
        background-color: #f8f8f8;
        position: relative;
        
        .img-background{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 1;
            background-size: cover;
            background-position: center; 
            z-index: 1;
            
        }
        
        
        .caption{
            width: 100%;
            background-color: rgba(#ffffff, 0.8);
            padding: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            
            small{
                font-size: 10px;

            }

            smaller{
                font-size: 7px;

            }
        }
        
        
        
        &:hover{
            background-color: #f0f0f0;
            
        }
        
        .btn{
            padding: 3px;
        }
        
        .btn-action{
            text-align: center;
            position: absolute;
            top: 5px;
            right: 5px;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            font-size: 16px;
            padding: 3px 0;
            z-index: 5;
        }
        
    
    }
}