


.navbar-bud{
    background-color: $secondary;
    border-radius: 0;
    margin-bottom: 0px;
    
    .bud-loading{
        color: white;
        display: none;

        .fa{
            font-size: 24px;
            font-weight: 300;

        }
    }

    .navbar-brand{
        color: white;
    }
    
    .navbar-nav {
        
        
        
        
        & > li > a{
            color: white;
        }
        
        & > .open > a:focus{
            background-color: $primary;
        }
        
        
    }

    .navbar-toggle{
        border: none;
        background-color: white;
        color: $secondary;
    
    }
}

.admin-pills{
    margin-bottom: 40px;
}