// ol.sortable{

// 	list-style-type: none;

// 	li{
// 		margin: 5px 0;


// 		.handle{
// 			color: $brand-primary;
// 		}

// 		ol{
// 			list-style-type: none;
// 		}

// 		div{
// 			background-color: white;
// 			padding: 4px;
// 		}
		
// 		.title{
// 			font-weight: bold;
// 		}

// 		.btn-node{
// 			margin: 4px;
// 			cursor: pointer;
// 		}
// 	}

// }
// 
.dd{
	.dd-item{
		padding-top: 5px;
		
		.dd-item-content{
			background-color: $gray-200;
		}

		.dd-handle{
			display: inline-block;
			color: white;
			background-color: $primary;
			border: none;
			border-radius: 0;
		}

		.btn-node{
			margin: 4px;
			cursor: pointer;
		}
	}
}