
#wrapper {
	padding-left: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.5s ease;
	overflow: hidden;
	&.toggled {
		padding-left: 250px;
		overflow: scroll;
		#sidebar-wrapper {
			width: 250px;
		}
		#page-content-wrapper {
			position: relative;
			margin-right: 0;
		}
	}
}
#sidebar-wrapper {
	z-index: 1000;
	position: absolute;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: $grey-light;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.5s ease;
}
#page-content-wrapper {
	position: absolute;
	padding: 15px;
	width: 100%;
	overflow-x: hidden;
}
.xyz {
	min-width: 360px;
}
.fixed-brand {
	width: auto;
}
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 2px;
	li {
		text-indent: 15px;
		line-height: 40px;
		border-left: 2px solid transparent;

		.active{
			background-color: white;
			border-left: 2px solid $primary;
		}

		.fa{
			color: darken($grey-light, 15%);
			font-size: 16px;			
		}

		a {
			display: block;
			text-decoration: none;
			color: $primary;
			
			&:hover {
				text-decoration: none;
				color: white;
				background: $primary;
				
			}
			&:active {
				text-decoration: none;
				

			}
			&:focus {
				text-decoration: none;
			}
		}

		ul{
			list-style-type: none;
		}
	}
	> .sidebar-brand {
		height: 65px;
		font-size: 18px;
		line-height: 60px;
		a {
			color: $secondary;
			&:hover {
				color: white;
				background: none;
			}
		}
	}
}
.no-margin {
	margin: 0;
}





@media(min-width:768px) {
	#wrapper {
		padding-left: 250px;
		&.toggled {
			padding-left: 0;
			#sidebar-wrapper {
				width: 250px;
			}
			#page-content-wrapper {
				position: relative;
				margin-right: 0;
				padding-left: 250px;
			}
		}
		&.toggled-2 {
			#sidebar-wrapper {
				width: 50px;
				&:hover {
					width: 250px;
				}
			}
			#page-content-wrapper {
				position: relative;
				margin-right: 0;
				margin-left: -200px;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.5s ease;
				width: auto;
			}
		}
	}
	.fixed-brand {
		width: 250px;
	}
	#sidebar-wrapper {
		width: 250px;
	}
	#page-content-wrapper {
		padding: 20px;
		position: relative;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.5s ease;
	}
}