tr.parameter-new{
    background-color: $grey-light;
}

table.picture-table, table.table-attachments{
    
    margin-top: 20px;
    
    & > tbody > tr > td {
        vertical-align: middle;
    }
 
}


table.table-attachments{

	.attachment-extension{
		background-color: #e8e8e8;
		color: white;
		font-size: 20px;
		text-align: center;
		font-weight: bold;
		padding-top: 35px;
		width: 100px;
		height: 100px;
	}

}