*{
    font-family: $font-text;
}

h1, h2, h3, h4, h5{
    font-family: $font-primary;
    color: #555;
}

h1{
	margin-bottom: 40px;
}

.label-icon{
    font-size: 1em;
    //border-radius: 50%;
    
}