.badge-round {
	text-align: center;
	padding: 3px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    display: inline-block;
}

.modal-xl {
	max-width: 1200px;
	min-height: 90%;
}


.badge-status {

	font-size: 12px;
	padding: 4px;
	font-weight: bold;
	border-radius: 6px;

	&.badge-status-1 { // NUOVA
		background-color: #D8BBEF;
	}

	&.badge-status-2 { // ASSEGNATA
		background-color: #BFD1F3;
	}

	&.badge-status-3 { // IN ELABORAZIONE
		background-color: #F5E0C8;
	}

	&.badge-status-4 { // EVASA
		background-color: #B9F0C2;
	}
}




label {
	text-transform: uppercase;
	font-size: 12px;
	color: $gray-600;
}
