


.form-header{
    padding: 10px;
    
    margin-bottom: 20px;
    
    h1{
        margin: 0;
    }
    
    .record-info{
        font-size: 11px;
    }
    
}

.form-actions{
    margin-top: 20px;
}

form.form-delete{
    display: inline;
}

.tab-content{
    
}


.panel-form{
    background-color: #f8f8f8;
    margin-top: 20px;
    
}


ul.nav-tabs-translation{
    
    li{
        a:hover{
            background-color: $brand-primary;
            color: white;
        }
    }
    
    li.active{
        a, a:focus{
            background-color: $grey-light;
        }
    }
}


.tab-pane-translation{
    padding: 20px 10px;
    border-left: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #dadada;
    background-color: #f8f8f8;
    
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.dm-uploader{
    
    border: 3px dashed $brand-primary;
    background-color: $grey-light;
    height: 200px;
    padding: 45px;
    text-align: center;
    border-radius: 16px;
    
    strong{
        font-family: $font-primary;
        color: darken($grey-light, 15%);
        font-size: 32px;
    }
}

.form-upload-progress-container{
    min-height: 25px;
    
    .progress{
        margin: 0;
    }
}

.form-upload-log{
    margin-top: 10px;
    height: 165px;
    overflow-y: auto;
    background-color: $grey-light;
    padding: 5px;
}

table.picture-table, table.attachment-table{
    
    margin-top: 20px;
    
    & > tbody > tr > td {
        vertical-align: middle;
    }
 
}



