.featured {

    padding-top: 20px;

    h1{
        font-size: 32px;
        color: $secondary;
        text-transform: uppercase;
    }

}

.submission-form{
    .card-quote {
        h4{
            color: $gray-500;
        }
    }
}