.navbar-qe {
    background-color: $secondary;
}


.sidebar-qe {
    background-color: $gray-100;

    .nav-item {
        
        h4{
            color: $secondary;
            font-family: $font-black;
        }

        .fa{
            padding: 8px;
            border-radius: 50%;
            background-color: white;
            margin-right: 8px;
            width: 28px;
            height: 28px;
        }
    }

}